/* Generals */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #eee;
}

/* Layout */

#app {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    padding-top: 100px;
    background-color: #1f1f1f;
}

.main {
    flex-grow: 1;
}

footer {
    padding: 50px;
    opacity: .5;
}

/* Typography */ 

h1 {
    margin-bottom: 50px;
    font-size: 50px;
}

ul {
    list-style: none;
}

/* Utilities */

.input-text {
    display: inline-block;
    width: 500px;
    height: 40px;
    padding: 10px;
    border-radius: 4px;
    border: none;
    outline: none;
    box-shadow: 0 15px 30px -10px rgba(0, 0, 0, .55);  
    color: #111;
}

.input-text::placeholder {
    margin-left: 10px;
    color: #aaa;
}

.input-text:focus {
    box-shadow: 0 0 0 3px cadetblue;
}

.opacity {
    opacity: .2;
}

/* Main */ 

.input {
    margin-bottom: 20px;
}

.list-items .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 5px;
    padding: 8px 0 ;
    border-bottom: 1px solid rgba(255, 255, 255, .25);
}

.list-items .item .actions {
    display: inline-block;
    display: none;
}

.list-items .item .actions > * {
    margin-left: 5px;
    cursor: pointer;
}

.list-items .item .actions i {
    text-shadow: 0px 2px 4px rgba(0, 0, 0, .55);
    transition: color 0.3s;
}

.list-items .item .actions > .completed > i:hover {
    color: seagreen;
}

.list-items .item .actions > .edit > i:hover {
    color: tomato;
}

.list-items .item .actions > .remove > i:hover {
    color: darkred;
}

.list-items .item .text-update {
    display: none;
    position: relative;
    width: 390px;
    background: #1f1f1f; 
    outline: none;
    border: none;
    font-size: 16px;
}

.list-items .item .hidden-arrow {
    display: none;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 8px;
    left: -30px;
    font-size: 18px;
    color: white;
    z-index: 2;
}

.list-items .item .hidden-arrow > i {
    transform: translateX(0);
    transition: transform .3s;
    animation: arrow-movement 1s infinite;
}

@keyframes arrow-movement {
    0%,100% {
        transform: translateX(-10px);
    }
    50% {
        transform: translateX(0);
    }
}